{% extends 'blog/base.html' %}

    {% block content %}
         <div class="col-sm">
     <div class="my-3 p-3 bg-white rounded shadow-sm">
           <div class="pad-ver">

      {% if user.is_authenticated %}
           <h1 class="border-gray pb- mb-0">You already log in!</h1>
{% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

  <h4 class="border-bottom border-gray pb-2 mb-0">Welcome</h4>
                 <div class="col-md-5 order-md-1">
                     <div class="mb-3">
                     <label for="login">Login <span class="text-muted"></span></label>
                         <br>
                {{ form.username }}
                     </div>
                     <hr>
                     <div class="mb-3">
                    <label for="login">Password <span class="text-muted"></span></label>
                         <br>
                     {{ form.password }}
                     </div>
               <button type="submit" class="btn btn-outline-info">Log in</button>
                 </div>
          </form>

    {% endif %}

           </div>
     </div>
         </div>
    {% endblock %}