{% extends 'blog/base.html' %}

    {% block content %}
     {% if user.is_authenticated %}

         <div class="col-sm">
 <h6 class="border-bottom border-gray pb-2 mb-0">Password change</h6>
    <form method="POST">

        {% csrf_token %}
       <div class="my-3 p-3 bg-white rounded shadow-sm">
           <div class="pad-ver">

          {{form}}
           </div>
    </div>
          <button type="submit" class="btn btn-outline-info">Change password</button>

    </form>

    {% else %}

    <p>Log in before do it</p>

    {% endif %}

    </div>
    {% endblock %}

{% block title %}Password{% endblock %}