<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">{{ title }}</h6>
    {% if questions %}
    {% for question in questions %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
     <div class="media-block">
         <img alt="{{ profiles.username }}" align="left"  vspace="5" hspace="5" height="300px" class="quest-img" src="{{question.author_id.img.url}}">
         <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-body">{{ question.author_id }}</strong>

             <strong > <a href="{% url 'question_page' question.id %}" class="d-block text-gray-dark">{{ question.title }}</a> </strong>

         {{ question.text }}
      </p>

        </div>
    <div class="pad-ver">
                        {% if user.is_authenticated %}
           <button type="button" class="btn btn-outline-success">Like</button>
                <button type="button" class="btn btn-outline-warning">Dislike</button>
                       {% endif %}
            <a href="{% url 'question_page' question.id %}" class="btn btn-sm btn-default btn-hover-primary">Answers :
                {% for k, v in answers.items %}
                    {% if k ==  question.id %}
                        {{ v }}
                    {% endif %}
                {% endfor %}
                </a>
                <span>tags:</span>
                           {% for tag in question.tags.all %}
                               <a href="{% url 'tag_page' tag %}"><span>{{tag}}<span></a>
                    {% endfor %}
            </div>
    </div>
    {% endfor %}
    {% else %}
        <p>No questions yet</p>
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
            <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

 {% endblock %}