<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}


    {% block content %}
    <div class="col-sm">
{% comment %}
    <form class="needs-validation was-validated" novalidate="">
{% endcomment %}

 <div class="form-section">
                <form action="{% url 'singup' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class ="form-group">
                        {{ field.label }}
                        {{ field }}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-10 label-inputs">
                         <button type="submit" class="btn btn-lg btn-block btn-outline-info">Register</button>
                        </div>
                    </div>

                    </form>
            </div>
        </div>
{% endblock %}