<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm">
{% comment %}
    <form class="needs-validation was-validated" novalidate="">
{% endcomment %}

 <div class="form-section">
                <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class ="form-group">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                <div><br>
                             <a class="btn  btn-outline-info" href="{% url 'password_change'%}">Change password</a>
                                </div>
                    <div class="row">
                        <div class="col-10 label-inputs"><br>
                         <button type="submit" class="btn btn btn-block btn-outline-info">Change Data</button>
                        </div>
                    </div>

                    </form>
            </div>
        </div>

{% endblock %}